

<form action="/answer" data-turbo="false" method="get" >
  <label for="message">Ask your coach anything:</label>
  <input id="message" type="text" name="message">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
